/* set color */
table{
    background-color: #003366;
    width: 400px;
}
/*set unit color*/
td{
    background-color: #fff;
    font-family: "Arial";
    font-size: 20pt;
    text-shadow: -8px 6px 2px #333;
}
